{'system': 'nestcollections', 'userid': 'Administrator', 'password': 'password', 'query_url': '127.0.0.1:9499', 'multi_query_url': '127.0.0.1:9499', 'config': None, 'reset': False, 'scalefactor': 1, 'warehouses': 4, 'duration': 60, 'ddl': '/Users/vijaysarathy/py-tpcc-py3/pytpcc/tpcc.sql', 'clients': 1, 'stop_on_error': False, 'no_load': False, 'no_execute': False, 'print_config': True, 'debug': False, 'durability_level': 'majority', 'txtimeout': 3, 'scan_consistency': 'not_bounded', 'run_date': '2021-01-01 00:00:00'}
# NestcollectionsDriver Configuration File
# Created 2021-04-26 15:55:05.040953
[nestcollections]

# The hostname to N1QL service
host                 = localhost

# The port number to N1QL Service
port                 = 9499

# Not Needed for N1QL
name                 = tpcc

# If set to true, then the CUSTOMER data will be denormalized into a single document
denormalize          = False
